<div class="container card p-3 alert alert-primary">
<h4 class="text-center alert alert-success text-black">فرم ثبت اطلاعات  بانک های طرف حساب ها</h4>


<form class="row">
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="bankName" class="form-label">نام بانک:</label>
        <input type="text" class="form-control" id="bankName" placeholder="نام بانک را وارد کنید...">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="accountNumber" class="form-label">شماره حساب:</label>
        <input type="text" class="form-control" id="accountNumber" placeholder="شماره حساب را وارد کنید...">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="branchName" class="form-label">نام شعبه:</label>
        <input type="text" class="form-control" id="branchName" placeholder="نام شعبه را وارد کنید...">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="accountOwner" class="form-label">صاحب حساب:</label>
        <input type="text" class="form-control" id="accountOwner" placeholder="نام صاحب حساب را وارد کنید...">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="phoneNumber" class="form-label">شماره تلفن:</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="شماره تلفن را وارد کنید...">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="address" class="form-label">آدرس:</label>
        <input class="form-control" id="address" rows="3" placeholder="آدرس را وارد کنید..."></input>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="accountType" class="form-label">نوع حساب:</label>
        <select class="form-select" id="accountType">
          <option selected>انتخاب کنید...</option>
          <option value="current">جاری</option>
          <option value="savings">پس‌انداز</option>
          <option value="loan">وام</option>
        </select>
      </div>

      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
      <button type="submit" class="btn btn-primary form-control mt-4">ثبت اطلاعات</button>
      </div>
    </form>


    </div>