<div class="container card p-3 alert alert-primary">
<h4 class="text-center alert alert-success text-black">فرم ثبت اطلاعات مراکز هزینه</h4>

<form class="row">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">نام مرکز هزینه:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="نام مرکز هزینه">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">آدرس:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="آدرس">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput3" class="form-label">شماره تلفن:</label>
    <input type="tel" class="form-control" id="formGroupExampleInput3" placeholder="شماره تلفن">
  </div>
  <button type="submit" class="btn btn-primary">ثبت</button>
</form>


</div>