

<div class="card p-5">

  <div class="row alert alert-primary">

<div class="card p-3">
    <div class="row ">
        <div class="col-3">
            <p class="fw-bolder h5">انتخاب نوع سند : </p>
        </div>
        <div class="col-9">

                              <select  class="form-control">
                                    <option value="1"> پیش فاکتور </option>
                                    <option value="2">فروش سنگ تایل</option>
                                    <option value="3">برگشت از فروش سنگ تایل </option>
                                    <option value="4">فروش ملزومات مصرفی</option>
                                    <option value="5"> برگشت از فروش ملزومات مصرفی </option>
                                    <option value="6">سفارش خرید  </option>
                                    <option value="7">خرید سنگ تایل </option>
                                    <option value="8"> برگشت از خرید سنگ تایل </option>
                                    <option value="9">خرید کوپ</option>
                                    <option value="10">خرید ملزومات مصرفی </option>
                                    <option value="11">برگشت از خرید ملزومات مصرفی </option>
                                </select>


        </div>
    </div>
    </div>

   

    <div class="col-12 card mt-1">

                   <div class="card-body">
                      <div class="">
                        <button type="button" class="btn btn-outline-primary">اولیه</button>
                        <button type="button" class="btn btn-outline-secondary">ثانویه</button>
                        <button type="button" class="btn btn-outline-success">موفقیت</button>
                        <button type="button" class="btn btn-outline-danger">اخطار</button>
                        <button type="button" class="btn btn-outline-warning">هشدار</button>
                        <button type="button" class="btn btn-outline-info">اطلاعات</button>
                        <button type="button" class="btn btn-outline-dark">تیره</button>
                      </div>
                    </div>

    </div>



  </div>

</div>