
   <style>
    select{
        border:2px solid black !important
    }
    option:hover{

        color: black !important;

    }
   </style>
              <!-- Property Listing Wizard -->
              <div id="wizard-property-listing" class="bs-stepper vertical mt-2">
                <div class="bs-stepper-header">
                  <div class="step" data-target="#personal-details">
                    <button type="button" class="step-trigger">
                      <span class="bs-stepper-circle">
                        <i class="bx bx-user"></i>
                      </span>
                      <span class="bs-stepper-label">
                        <span class="bs-stepper-title">اطلاعات شخصی</span>
                        <span class="bs-stepper-subtitle">نام/ایمیل شما</span>
                      </span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#property-details">
                    <button type="button" class="step-trigger">
                      <span class="bs-stepper-circle">
                        <i class="bx bx-home"></i>
                      </span>
                      <span class="bs-stepper-label">
                        <span class="bs-stepper-title">جزئیات ملک</span>
                        <span class="bs-stepper-subtitle">نوع ملک</span>
                      </span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#property-features">
                    <button type="button" class="step-trigger">
                      <span class="bs-stepper-circle">
                        <i class="bx bx-star"></i>
                      </span>
                      <span class="bs-stepper-label">
                        <span class="bs-stepper-title">ویژگی‌های ملک</span>
                        <span class="bs-stepper-subtitle">تعداد اتاق/طبقه</span>
                      </span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#property-area">
                    <button type="button" class="step-trigger">
                      <span class="bs-stepper-circle">
                        <i class="bx bx-map"></i>
                      </span>
                      <span class="bs-stepper-label">
                        <span class="bs-stepper-title">متراژ ملک</span>
                        <span class="bs-stepper-subtitle">متراژ مفید</span>
                      </span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#price-details">
                    <button type="button" class="step-trigger">
                      <span class="bs-stepper-circle">
                        <i class="bx bx-dollar"></i>
                      </span>
                      <span class="bs-stepper-label">
                        <span class="bs-stepper-title">جزئیات قیمت</span>
                        <span class="bs-stepper-subtitle">قیمت مورد انتظار</span>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="bs-stepper-content ">
                  <form id="wizard-property-listing-form" onsubmit="return false">
                    <!-- Personal Details -->
                    <div id="personal-details" class="content alert alert-primary p-3">
                      <div class="row g-3 ">
                        <div class="col-3" >
                        <label class=" fw-bolder h5" for="plPropertyType">  انتخاب نوع سند : </label>
                          
                       </div>
                       <div class="col-9" style="text-align: center !important;">
                      
                          <select id="plPropertyType" name="plPropertyType" class="select2 form-select" data-allow-clear="true">
                            <option value="1"> پیش فاکتور </option>
                            <option value="2">فروش سنگ تایل</option>
                            <option value="3">برگشت از فروش سنگ تایل </option>
                            <option value="4">فروش ملزومات مصرفی</option>
                            <option value="5"> برگشت از فروش ملزومات مصرفی </option>
                            <option value="6">سفارش خرید  </option>
                            <option value="7">خرید سنگ تایل </option>
                            <option value="8"> برگشت از خرید سنگ تایل </option>
                            <option value="9">خرید کوپ</option>
                            <option value="10">خرید ملزومات مصرفی </option>
                              <option value="11">برگشت از خرید ملزومات مصرفی </option>
                          </select>
                       </div>
                      </div>
                    </div>

                    <hr>

                    <!-- Property Details -->
                    <div id="property-details" class="content">
                      <div class="row g-3">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-sm mb-sm-0 mb-2">
                              <div class="form-check custom-option custom-option-icon">
                                <label class="form-check-label custom-option-content" for="customRadioSell">
                                  <span class="custom-option-body">
                                    <i class="bx bx-home"></i>
                                    <span class="custom-option-title my-2">فروش ملک</span>
                                    <small class="d-block lh-2">ملک خود را برای فروش پست کنید.<br>
                                      لیست رایگان نامحدود.</small>
                                  </span>
                                  <input name="plPropertySaleRent" class="form-check-input" type="radio" value="1" id="customRadioSell" checked>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm mb-sm-0 mb-2">
                              <div class="form-check custom-option custom-option-icon">
                                <label class="form-check-label custom-option-content" for="customRadioRent">
                                  <span class="custom-option-body">
                                    <i class="bx bx-wallet"></i>
                                    <span class="custom-option-title my-2">اجاره ملک</span>
                                    <small class="d-block lh-2">ملک خود را برای اجاره پست کنید.<br>
                                      لیست رایگان نامحدود.</small>
                                  </span>
                                  <input name="plPropertySaleRent" class="form-check-input" type="radio" value="2" id="customRadioRent">
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plPropertyType">نوع ملک</label>
                          <select id="plPropertyType" name="plPropertyType" class="select2 form-select" data-allow-clear="true">
                            <option value="">انتخاب نوع ملک</option>
                            <option value="10002">آپارتمان</option>
                            <option value="10001">خانه مسکونی</option>
                            <option value="10017">ویلا</option>
                            <option value="10003">یک طبقه آپارتمان</option>
                            <option value="10000">زمین مسکونی</option>
                            <option value="10021">پنت هاوس</option>
                            <option value="10022">آپارتمان استودیو</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plZipCode">کد پستی</label>
                          <input type="number" id="plZipCode" name="plZipCode" class="form-control" placeholder="99950">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plCountry">کشور</label>
                          <select id="plCountry" name="plCountry" class="select2 form-select" data-allow-clear="true">
                            <option value="">انتخاب</option>
                            <option value="Australia">استرالیا</option>
                            <option value="Bangladesh">بنگلادش</option>
                            <option value="Belarus">بلاروس</option>
                            <option value="Brazil">برزیل</option>
                            <option value="Canada">کانادا</option>
                            <option value="China">چین</option>
                            <option value="France">فرانسه</option>
                            <option value="Germany">آلمان</option>
                            <option value="India">هندوستان</option>
                            <option value="Indonesia">اندونزی</option>
                            <option value="Iran">ایران</option>
                            <option value="Italy">ایتالیا</option>
                            <option value="Japan">ژاپن</option>
                            <option value="Korea">کره جنوبی</option>
                            <option value="Mexico">مکزیک</option>
                            <option value="Philippines">فیلیپین</option>
                            <option value="Russia">روسیه</option>
                            <option value="South Africa">آفریقای جنوبی</option>
                            <option value="Thailand">تایلند</option>
                            <option value="Turkey">ترکیه</option>
                            <option value="Ukraine">اوکراین</option>
                            <option value="United Arab Emirates">امارات</option>
                            <option value="United Kingdom">انگلستان</option>
                            <option value="United States">ایالات متحده</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plState">استان</label>
                          <input type="text" id="plState" name="plState" class="form-control" placeholder="آذربایجان شرقی">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plCity">شهر</label>
                          <input type="text" id="plCity" name="plCity" class="form-control" placeholder="تبریز">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plLandmark">نشان اختصاصی</label>
                          <input type="text" id="plLandmark" name="plLandmark" class="form-control" placeholder="ساختمان بنفشه">
                        </div>
                        <div class="col-lg-12">
                          <label class="form-label" for="plAddress">آدرس</label>
                          <textarea id="plAddress" name="plAddress" class="form-control" rows="2" placeholder="خیابان آزادی"></textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-sm-inline-block d-none">قبلی</span>
                          </button>
                          <button class="btn btn-primary btn-next">
                            <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Property Features -->
                    <div id="property-features" class="content">
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plBedrooms">اتاق خواب</label>
                          <input type="number" id="plBedrooms" name="plBedrooms" class="form-control" placeholder="3">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plFloorNo">شماره طبقه</label>
                          <input type="number" id="plFloorNo" name="plFloorNo" class="form-control" placeholder="12">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plBathrooms">سرویس بهداشتی</label>
                          <input type="number" id="plBathrooms" name="plBathrooms" class="form-control" placeholder="4">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plFurnishedStatus">وضعیت مبلمان</label>
                          <select id="plFurnishedStatus" name="plFurnishedStatus" class="form-select">
                            <option selected disabled value="">انتخاب وضعیت مبلمان</option>
                            <option value="1">کاملا مبله</option>
                            <option value="2">مبله</option>
                            <option value="3">نیمه مبله</option>
                            <option value="4">بدون مبلمان</option>
                          </select>
                        </div>
                        <div class="col-lg-12">
                          <label class="form-label" for="plFurnishingDetails">جزئیات مبلمان</label>
                          <input id="plFurnishingDetails" name="plFurnishingDetails" class="form-control" placeholder="انتخاب گزینه‌ها" value="فریزر, تلویزیون, کولر, وای فای">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">آیا منطقه مشترکی وجود دارد؟</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plCommonAreaRadio" id="plCommonAreaRadioYes" checked>
                            <label class="form-check-label" for="plCommonAreaRadioYes">بله</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plCommonAreaRadio" id="plCommonAreaRadioNo">
                            <label class="form-check-label" for="plCommonAreaRadioNo">خیر</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">آیا بالکن متصل وجود دارد؟</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plAttachedBalconyRadio" id="plAttachedBalconyRadioYes" checked>
                            <label class="form-check-label" for="plAttachedBalconyRadioYes">بله</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plAttachedBalconyRadio" id="plAttachedBalconyRadioNo">
                            <label class="form-check-label" for="plAttachedBalconyRadioNo">خیر</label>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-sm-inline-block d-none">قبلی</span>
                          </button>
                          <button class="btn btn-primary btn-next">
                            <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Property Area -->
                    <div id="property-area" class="content">
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plTotalArea">متراژ کل</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plTotalArea" name="plTotalArea" placeholder="1000" aria-describedby="pl-total-area">
                            <span class="input-group-text" id="pl-total-area">متر مربع</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plCarpetArea">متراژ فرش</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plCarpetArea" name="plCarpetArea" placeholder="800" aria-describedby="pl-carpet-area">
                            <span class="input-group-text" id="pl-carpet-area">متر مربع</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plPlotArea">متراژ قطعه</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plPlotArea" name="plPlotArea" placeholder="800" aria-describedby="pl-plot-area">
                            <span class="input-group-text" id="pl-plot-area">متر مربع</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plAvailableFrom">سال ساخت</label>
                          <input type="text" id="plAvailableFrom" name="plAvailableFrom" class="form-control flatpickr" placeholder="YYYY/MM/DD">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">وضعیت مالکیت</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plPossessionStatus" id="plUnderConstruction" checked>
                            <label class="form-check-label" for="plUnderConstruction">در دست ساخت</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plPossessionStatus" id="plReadyToMoveRadio">
                            <label class="form-check-label" for="plReadyToMoveRadio">آماده برای سکونت</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">نوع معامله</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plTransectionType" id="plNewProperty" checked>
                            <label class="form-check-label" for="plNewProperty">ملک جدید</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plTransectionType" id="plResaleProperty">
                            <label class="form-check-label" for="plResaleProperty">فروش مجدد</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">آیا ملک رو به جاده اصلی است؟</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plRoadFacingRadio" id="plRoadFacingRadioYes" checked>
                            <label class="form-check-label" for="plRoadFacingRadioYes">بله</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plRoadFacingRadio" id="plRoadFacingRadioNo">
                            <label class="form-check-label" for="plRoadFacingRadioNo">خیر</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">مستعمره در دار؟</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plGatedColonyRadio" id="plGatedColonyRadioYes" checked>
                            <label class="form-check-label" for="plGatedColonyRadioYes">بله</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plGatedColonyRadio" id="plGatedColonyRadioNo">
                            <label class="form-check-label" for="plGatedColonyRadioNo">خیر</label>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-sm-inline-block d-none">قبلی</span>
                          </button>
                          <button class="btn btn-primary btn-next">
                            <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Price Details -->
                    <div id="price-details" class="content">
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plExpeactedPrice">قیمت مورد انتظار</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plExpeactedPrice" name="plExpeactedPrice" placeholder="25,000" aria-describedby="pl-expeacted-price">
                            <span class="input-group-text" id="pl-expeacted-price">تومان</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plPriceSqft">قیمت هر متر مربع</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plPriceSqft" name="plPriceSqft" placeholder="500" aria-describedby="pl-price-sqft">
                            <span class="input-group-text" id="pl-price-sqft">تومان</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plMaintenenceCharge">هزینه تعمیر و نگهداری</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plMaintenenceCharge" name="plMaintenenceCharge" placeholder="50" aria-describedby="pl-mentenence-charge">
                            <span class="input-group-text" id="pl-mentenence-charge">تومان</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="plMaintenencePer">تعمیر و نگهداری</label>
                          <select id="plMaintenencePer" name="plMaintenencePer" class="form-select">
                            <option value="1" selected>ماهانه</option>
                            <option value="2">فصلی</option>
                            <option value="3">سالانه</option>
                            <option value="3">یک بار</option>
                            <option value="3">ماهانه به ازای هر متر مربع</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plBookingAmount">مقدار پیش‌پرداخت</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plBookingAmount" name="plBookingAmount" placeholder="250" aria-describedby="pl-booking-amount">
                            <span class="input-group-text" id="pl-booking-amount">تومان</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label d-block" for="plOtherAmount">سایر مقادیر</label>
                          <div class="input-group input-group-merge">
                            <input type="number" class="form-control" id="plOtherAmount" name="plOtherAmount" placeholder="500" aria-describedby="pl-other-amount">
                            <span class="input-group-text" id="pl-other-amount">تومان</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">نمایش قیمت به عنوان</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plShowPriceRadio" id="plNagotiablePrice" checked>
                            <label class="form-check-label" for="plNagotiablePrice">قابل مذاکره</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" name="plShowPriceRadio" id="plCallForPrice">
                            <label class="form-check-label" for="plCallForPrice">قیمت مقطوع</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label">قیمت شامل</label>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" name="plCarParking" id="plCarParking">
                            <label class="form-check-label" for="plCarParking">پارکینگ اتومبیل</label>
                          </div>
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" name="plClubMembership" id="plClubMembership">
                            <label class="form-check-label" for="plClubMembership">عضویت کلوپ</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" name="plOtherCharges" id="plOtherCharges">
                            <label class="form-check-label" for="plOtherCharges">حق تمبر و هزینه های ثبت نام مستثنی شده است.</label>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-sm-inline-block d-none">قبلی</span>
                          </button>
                          <button class="btn btn-success btn-submit btn-next">ثبت</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!--/ Property Listing Wizard -->