
<style>
  td,tr{
   
    border:0.5px solid  rgb(211, 204, 204);
    white-space: nowrap;
    text-align: center;
    }
    tr:hover{
      background-color: yellowgreen;
      color: white;
      
    }
    .selected {
       background-color: yellowgreen;
      color: white;
    }
       
</style>
<div class="card p-5">

  <div class="row alert alert-primary">

<div class="card p-3">
    <div class="row ">
        <div class="col-3">
            <p class="fw-bolder h5">انتخاب نوع سند : </p>
        </div>
        <div class="col-9">

                              <select  class="form-control">
                                    <option value="1"> پیش فاکتور </option>
                                    <option value="2">فروش سنگ تایل</option>
                                    <option value="3">برگشت از فروش سنگ تایل </option>
                                    <option value="4">فروش ملزومات مصرفی</option>
                                    <option value="5"> برگشت از فروش ملزومات مصرفی </option>
                                    <option value="6">سفارش خرید  </option>
                                    <option value="7">خرید سنگ تایل </option>
                                    <option value="8"> برگشت از خرید سنگ تایل </option>
                                    <option value="9">خرید کوپ</option>
                                    <option value="10">خرید ملزومات مصرفی </option>
                                    <option value="11">برگشت از خرید ملزومات مصرفی </option>
                                </select>


        </div>
    </div>
    </div>

   

    <div class="col-12 card mt-1">

                   <div class="card-body">
                      <div class=" text-center">
                        <button type="button" class="btn btn-outline-success">اضافه</button>
                        <button type="button" class="btn btn-outline-danger">حذف</button>
                        <button type="button" class="btn btn-outline-primary">اصلاح</button>
                        <button type="button" class="btn btn-outline-warning">نمایش</button>
                        <button type="button" class="btn btn-outline-secondary">چاپ</button>
                        <button type="button" class="btn btn-outline-info">سند حسابداری</button>
                      </div>
                    </div>

    </div>



     <div class="col-12 card mt-1   " style="overflow-x: scroll;">
                        <div class="row justify-content-center text-center">
                          <div class="col-4 mt-3  ">
                          <div class="input-group">
                          <input type="text" class="form-control" placeholder="برای جستجو متن رو وارد کنید ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn btn-outline-primary" type="button" id="button-addon2">جستوجو</button>
                          </div>
                       </div>

                        </div>
                       

                   <div class="card-body" >
                       
                     <table class="table table-bordered " id="myTable">

                              <tr style="background-color: whitesmoke;">
                                <th>ردیف</th>
                                <th>شماره</th>
                                <th>تاریخ</th>
                                <th>مرکز هزینه</th>
                                <th>طرف حساب</th>
                                <th>تعداد اقلام</th>
                                <th>مبلغ</th>
                                <th>سند حسابداری</th>
                               <th>ثبت انبار</th>
                               <th>ثبت حسابداری</th>
                               <th>کاربر</th>
                               
                              </tr>


                              <tr>
                                <td>1</td>
                                <td>52365</td>
                                <td>1402/02/30</td>
                                <td>نیاوران</td>
                                <td>علی امیری</td>
                                <td>52</td>
                                <td>520000</td>
                                <td>4523</td>
                                <td>انجام شد </td>
                                <td>5260</td>
                                <td>رسول قاسمی</td>
                              </tr>

                                 <tr>
                                <td>2</td>
                                <td>52365</td>
                                <td>1402/02/30</td>
                                <td>نیاوران شهرک ولیعصر تهران </td>
                                <td>علی امیری</td>
                                <td>52</td>
                                <td>520000</td>
                                <td>4523</td>
                                <td>انجام شد </td>
                                <td>5260</td>
                                <td>رسول قاسمی</td>
                              </tr>



                            </table>



                        
                    </div>
      </div>




  </div>

</div>


<script>
    // Get all table rows
    const rows = document.querySelectorAll("#myTable tr");

    // Add click event listener to each row
    rows.forEach(row => {
      row.addEventListener("click", function() {
        // Remove the 'selected' class from all rows
        rows.forEach(row => {
          row.classList.remove("selected");
        });

        // Add the 'selected' class to the clicked row
        this.classList.add("selected");
      });
    });
  </script>