 <div class="container mt-5 card p-3 alert alert-primary">
    <h4 class="text-center mb-5   alert alert-success text-black">فرم ثبت اطلاعات تامین کنندگان و فروشندگان در صنعت سنگ </h4>
    <form class="row">
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="companyName">نام شرکت:</label>
        <input type="text" class="form-control" id="companyName">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="companyType">نوع فعالیت شرکت:</label>
        <input type="text" class="form-control" id="companyType">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="companyAddress">آدرس شرکت:</label>
        <input type="text" class="form-control" id="companyAddress">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="contactPersonName">نام شخص تماس:</label>
        <input type="text" class="form-control" id="contactPersonName">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="contactPersonTitle">عنوان شخص تماس:</label>
        <input type="text" class="form-control" id="contactPersonTitle">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="contactPersonPhone">شماره تلفن شخص تماس:</label>
        <input type="text" class="form-control" id="contactPersonPhone">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="contactPersonEmail">ایمیل شخص تماس:</label>
        <input type="email" class="form-control" id="contactPersonEmail">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="bankName">نام بانک:</label>
        <input type="text" class="form-control" id="bankName">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="bankAccountNumber">شماره حساب بانکی:</label>
        <input type="text" class="form-control" id="bankAccountNumber">
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
        <label for="taxCode">شماره کد مالیاتی:</label>
        <input type="text" class="form-control" id="taxCode">
      </div>
       <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
              <button type="submit" class="btn btn-primary mt-4 form-control">ثبت</button>
       </div>

    </form>
  </div>